/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
  /* Add your styles here */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px 5px;
}

h1 {
  /* Add your styles here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-heading {
  /* Add your styles here */
}

.pricing-container {
  /* Add your styles here */
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 2rem;

}

.pricing-card {
  /* Add your styles here */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #d2d0d0;
  background-color: #FFFFFF;
  padding: 20px 15px;
  gap: 1rem;
  width: 300px;
  position: relative;
  flex-grow: 0;
  height: fit-content;
  transform: scale(.9);
  
}


.pricing-card:hover {
  /* Add your styles here */
}

.pricing-card.popular {
  /* Add your styles here */
  border: 1px solid #FF7800;
  transform: scale(1);
}

.popular-badge {
  /* Add your styles here */
  background-color: #FF7800 ;
  color: white;
  padding: 8px 10px;
  border-radius: 30px;
  position: absolute;
  top: -20px;
}

.price {
  /* Add your styles here */
}

.period {
  /* Add your styles here */
}

.features {
  /* Add your styles here */
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 25px;
}


.features li{
  /* Add your styles here */
  display: flex;
  align-items: start;  
  text-indent: -8px;
  text-align: center;
  gap: 9px;

}

.features li::before{
  /* Add your styles here */
  content: "🍵";
  margin-right: 8px;
  font-size: 1.2em; 
  flex-shrink: 0;
  position: relative;
  bottom: 4px;
}




.subscribe-btn {
  /* Add your styles here */
  background-color: #FF9533;
  padding: 8px 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;

}

.subscribe-btn:hover {
  /* Add your styles here */
}

@media (max-width:950px) {
  .pricing-container {
    /* Add your styles here */
    
  
  }
  
  .pricing-card {
    /* Add your styles here */
    width: 250px;
    font-size: 15px;

  }
}
@media (max-width:780px) {
  .pricing-container {
    /* Add your styles here */
    flex-direction: column;
    padding: 10px 12px;
  
  }
  
  .pricing-card {
    /* Add your styles here */
    max-width: 500px;
    font-size: medium;
    width: 100%;

  }
}